/* couleurs */
/*
    rgb(9, 29, 43)
    rgb(43, 161, 179)
    rgb(169, 197, 202)      rgb(239, 244, 245) 95% lighter  #90b5bb 65%
    rgb(12, 121, 158)

    rgb(0, 35, 84)
    rgb(9, 29, 43) bas de l'image

*/

/* color palette */
:root {
  --background-body: rgb(239, 244, 245);
  --background-logo--opacity: rgba(239, 244, 245, 0.98);

  --color-dark: rgb(12, 121, 158);
  --color-light: rgb(169, 197, 202);

  --background-card-dark: rgba(12, 121, 158, 0.5);

  --background-card-light: rgba(169, 197, 202, 0.8);

  --color-card-dark: rgb(9, 29, 43);
  --color-card-light: rgb(239, 244, 245);

  --background-headband-dark: rgba(9, 29, 43, 0.85);

  --color-subcard: #000;

  --dark: rgb(12, 121, 158);
  --light: rgb(169, 197, 202);
  --background-dark: rgba(12, 121, 158, 0.5);
  --background-light: rgba(169, 197, 202, 0.8);

  --main-marge: 50px;
  --marge: 15px;
  --min-marge: 10px;
}

@font-face {
  font-family: 'lemonchi';
  src: url("./fonts/lemonchi-webfont.woff") format("woff"),
      url("./fonts/lemonchi-webfont.woff2") format("woff2"),
      url("./fonts/LEMONCHI.ttf") format("ttf");
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--background-body);
  font-size: 18px;
  font-family: system-ui, 'Open Sans', sans-serif;
  background-color: var(--light);
}
